@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #F1F1F1;
    font-family: 'Square Peg', cursive;
    font-weight: lighter;
}

body {
    background: #100F0F;
}

.addbutton {
    background: #E2DCC8;
    color: #100F0F;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.addbutton:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 5px #F1F1F1;
}

.addbutton:active {
    transition: none;
    transform: scale(0.9);
    box-shadow: none;
}

.note {
    background: #E2DCC8;
    color: #100F0F;
    font-size: 22px;
    text-align: left;
    font-weight: bold;

    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;

    resize: none;

    position: absolute;

    width: 150px;
    height: 150px;

    transition: transform 0.2s ease-in-out;
}

.note:active, .note:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px #F1F1F1;
}