{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block body %}
<section class="header">
  <h1>Sticky Notes</h1>
</section>
<section class="notes">
  <div class="btnrow">
    <button class="bigbutton" onclick="clear_notes()" type="button">
      <i
        class="fa fa-trash"
        style="color: #100f0f; font-size: 30px"
        aria-hidden="true"
      ></i>
    </button>
    <button class="bigbutton" onclick="add()" type="button">+</button>
  </div>
  <div class="noteslist"></div>
</section>
{% endblock %}
